.container {
  padding-top: 30px;
}

.section_title {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px;
  color: rgb(9, 169, 233);
}

.contact_list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.list_item {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(255, 145, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2),
    0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: 500;
}

.number {
  text-align: right;
}

.btn_delete {
  padding: 5px 15px;
  border-radius: 5px;
}
